<h2 mat-dialog-title>{{data.topic.name}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="grid gap col-2">
    <div class="grid__cell sticky">
        <div class="grid__cell--label">Image & Geolocation</div>
        <div class="grid__cell--content">
            <div *ngIf="image; else loader">
                <app-image 
                    [imageId]="image.id" 
                    [label]="data.topic.name" 
                    [headerId]="data.message.header.headerid">
                </app-image>
                <hr/>
                <div class="map" *ngIf="vehicleId && coordinates.length">
                    <app-starfire 
                        [showTractor]=true 
                        [zoom]=16
                        [coordinates]="coordinates"
                        [vehicleId]="vehicleId" >
                    </app-starfire>
                </div>
            </div>

            <ng-template #loader>
                <mat-icon aria-hidden="false" class="no-image" aria-label="No Image">image_not_supported</mat-icon>
                <mat-progress-bar *ngIf="!isImageLoaded" mode="indeterminate"></mat-progress-bar>
            </ng-template>
        </div>
    </div>
    <div class="grid__cell">
        <div class="grid__cell--label sticky">Raw Data</div>
        <div class="grid__cell--content json">
            <ngx-json-viewer 
                [json]="data" 
                [expanded]="true">
            </ngx-json-viewer>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>