<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Online">
      <table class="vehicles__online" mat-table [dataSource]="onlineVehicles" >
        <!-- Position Column -->
        <ng-container matColumnDef="alert">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert </th>
          <td mat-cell *matCellDef="let col"> <mat-icon class="icon" inline>{{col.alerts.alertType.name}} </mat-icon></td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
          <td mat-cell *matCellDef="let col"> {{col.vehicle_id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
          <td mat-cell *matCellDef="let col"> {{col.name | titlecase }} </td>
        </ng-container>
      
        <ng-container matColumnDef="ip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IP </th>
          <td mat-cell *matCellDef="let col"> {{col.ip | titlecase }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedOnlineColumns"></tr>
        <tr mat-row 
          [class]= "row.alerts.alertType.name" 
          *matRowDef="let row; columns: displayedOnlineColumns;"
          (click)="onRowClick(row)"
        ></tr>
      </table>
    </mat-tab>
    <mat-tab label="Offline">
      <table mat-table  class="vehicles__offline"  [dataSource]="offlineVehicles" >
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
          <td mat-cell *matCellDef="let col"> {{col.vehicle_id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
          <td mat-cell *matCellDef="let col"> {{col.name | titlecase }} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IP </th>
          <td mat-cell *matCellDef="let col"> {{col.ip | titlecase }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedOfflineColumns"></tr>
        <tr mat-row 
          *matRowDef="let row; columns: displayedOfflineColumns;"
          (click)="onRowClick(row)"
        ></tr>
      </table>
    </mat-tab>
  </mat-tab-group>