<h2>/{{currentRoute}}</h2>
<div [ngSwitch]="currentRoute">
    <div *ngSwitchCase="'starfire'">
        <div class="grid gap">
            <div class="grid__cell">
                <div class="grid__cell--label">Static</div>
                <app-starfire [showTractor]=true [zoom]=20 [vehicleId]="vehicleId" ></app-starfire>
            </div>
            <div class="grid__cell">
                <div class="grid__cell--label">Replay</div>
                <app-starfire playback="replay" [showTractor]=true [zoom]=30 [vehicleId]="vehicleId"></app-starfire>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'front_center/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'front_right/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'front_left/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'front_left/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'side_right/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'side_right/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'rear/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'rear/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>
    <div *ngSwitchCase="'side_left/debayered'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div>  
    <div *ngSwitchCase="'side_left/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div> 
    <div *ngSwitchCase="'front_right/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div> 
    <div *ngSwitchCase="'front_center/visualization/top_down_view'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div> 
    <div *ngSwitchCase="'front_right/segmentation_map'">
        <app-image-pair [topic]='"/"+currentRoute'></app-image-pair>
    </div> 
    <div *ngSwitchCase="'side_left/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchCase="'side_right/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchCase="'rear/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchCase="'front_left/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchCase="'front_right/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchCase="'front_center/left/preview'">
        <app-preview 
        [topic]='"/"+currentRoute'
        [topicId]="topicId"
        [vehicleId]="vehicleId"
        ></app-preview>
    </div>
    <div *ngSwitchDefault>Coming Soon! {{currentRoute}}</div>
</div>
