<nav class="nav__side-nav" 
[ngClass]="{ show:showLeftNav===true, hide:showLeftNav===false }">
    <button class="nav__side-nav--toggle-btn" 
        [ngClass]="{ show:showLeftNav===true, hide:showLeftNav===false}"
       (click)="toggleSideNav()">
       <mat-icon matSuffix aria-label="toggle mobile menu view" >{{!showLeftNav ? "menu" : "menu_open"}}</mat-icon>
    </button>
    <mat-list (click)="toggleSideNav()"> 
        <a [routerLink]='["/"]' routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"  class="nav__side-nav--link">
            <mat-list-item>
                <mat-icon class="example-tab-icon nav__side-nav--link-icon">agriculture</mat-icon>
                <div class="nav__side-nav--link-label">Vehicles</div>
            </mat-list-item>
        </a> 
    </mat-list>
    <mat-list class="nav__side-nav--profile">
        <a (click)="logOut()">
            <mat-list-item>LogOut</mat-list-item>
        </a>
    </mat-list>
</nav>