<div  *ngIf="fgImageFilter && topics.length; else loader" >
    <form class="image__form" 
        *ngIf="fgImageFilter" 
        [formGroup]="fgImageFilter"
        (submit)="onSubmit()"
        >
        <div class="image__form--field">
            <mat-form-field class="example-form-field datetime" appearance="fill">
                <mat-label>Start</mat-label>
                <input matInput type="datetime-local" 
                    formControlName="startDateTime">
            </mat-form-field>
        </div>
        <div class="image__form--field">
            <mat-form-field class="example-form-field datetime" appearance="fill">
                <mat-label>End</mat-label>
                <input matInput type="datetime-local" 
                    formControlName="endDateTime">
            </mat-form-field>
        </div>
        <div class="image__form--field" >
            <mat-form-field appearance="fill">
                <mat-label>Image Topics</mat-label>
                <mat-select formControlName="topics">
                    <mat-option *ngFor="let topic of topics"
                        [value]="topic.name">
                        {{topic.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="image__form--field">
            <mat-slide-toggle 
            formControlName="isLive"
            (click)="onLiveToggle($event)"
            >Live</mat-slide-toggle>
        </div> -->
        <div class="image__form--field">
            <button 
                mat-mini-fab color="primary" aria-label="Submit geolocation query">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>

    <div class="grid gap" [ngClass]="{'col-2': pageSize > 1}">
        <div class="grid__cell" *ngFor="let image of images">
            <div class="grid__cell--label">{{image.header.readingat| date:"medium":"locale"}}</div>
            <div class="grid__cell--content">
                <app-image 
                    *ngIf="image.header.headerId && image.image.id; else noimage"
                    [imageId]="image.image.id" 
                    [label]="image.header.readingat" 
                    [headerId]="image.header.headerId">
                </app-image>
                <mat-expansion-panel hideToggle *ngIf="image.cameraMeta">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Meta Data
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li><b>Date:</b> {{image.header.readingat}}</li>
                        <li><b>Camera:</b> {{image.cameraMeta.cameraName}}</li>
                        <li><b>Encoding:</b> {{image.image.encoding}}</li>
                        <li><b>Height:</b> {{image.image.height}}</li>
                        <li><b>Width:</b> {{image.image.width}}</li>
                        <li><b>Left Exposure:</b> {{image.cameraMeta.leftExposure}}</li>
                        <li><b>Right Exposure:</b> {{image.cameraMeta.rightExposure}}</li>
                        <li><b>Left Gain:</b> {{image.cameraMeta.leftGain}}</li>
                        <li><b>Right Gain:</b> {{image.cameraMeta.rightGain}}</li>
                        <li><b>Descriptor ID:</b>{{image.header.headerId}}</li>
                    </ul>
                  </mat-expansion-panel>
                <ng-template #noimage>
                    <mat-icon aria-hidden="false" class="no-image" aria-label="No Image">image_not_supported</mat-icon>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <div *ngIf="!topics.length">
        There are no images associated with this vehicle
    </div>
    <div *ngIf="!imagesLoaded && topics.length">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>
 
