<div  *ngIf="fgImageFilter && topics.length; else loader" >
    <form class="image__form" 
        *ngIf="fgImageFilter" 
        [formGroup]="fgImageFilter"
        (submit)="onSubmit()"
        >
        <!-- <div class="image__form--field">
            <mat-form-field class="example-form-field datetime" appearance="fill">
                <mat-label>Start</mat-label>
                <input matInput type="datetime-local" 
                    formControlName="startDateTime">
                <button matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="image__form--field">
            <mat-form-field class="example-form-field datetime" appearance="fill">
                <mat-label>End</mat-label>
                <input matInput type="datetime-local" 
                    formControlName="endDateTime">
                <button matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div> -->
        <div class="image__form--field" >
            <mat-form-field appearance="fill">
                <mat-label>Image Topics</mat-label>
                <mat-select formControlName="topics"
                    (selectionChange)="onTopicChange()"
                >
                    <mat-option *ngFor="let topic of topics"
                        [value]="topic.name">
                        {{topic.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="image__form--field">
            <mat-slide-toggle 
            formControlName="isLive"
            (click)="onLiveToggle($event)"
            >Live</mat-slide-toggle>
        </div> -->
        <!-- <div class="image__form--field">
            <button 
                mat-mini-fab color="primary" aria-label="Submit geolocation query">
                <mat-icon>search</mat-icon>
            </button>
        </div> -->
    </form>

    <div class="grid gap">
        <div class="grid__cell map">
            <div class="grid__cell--label">Images {{selectedTopic | json}}</div>
            <div class="grid__cell--content">
                <app-preview 
                    *ngIf="selectedTopic"
                    [topic]="selectedTopic"
                    [vehicleId]="vehicleId"
                ></app-preview>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
 
