.image__form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    flex-wrap: wrap;
    padding: 20px;

    .image__form--field {
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0px;
        }

        .image__form--radio{
            margin-right: 10px;
        }
    }
}

.datetime{
    width:280px;
}