<app-image 
    *ngIf="image; else loader"
    [data]="image" 
    [label]="label" 
    [headerId]="headerid">
</app-image>
<hr/>
<div class="map" *ngIf="coordinates[0].length">
    <app-starfire 
    [showTractor]=true 
    [zoom]=20 
    [coordinates]="coordinates"
    [vehicleId]="vehicleId" ></app-starfire>
</div>
<div>
</div>
<mat-paginator [length]="pagesLength"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="getCurrentImage($event)">
</mat-paginator>
<ng-template #loader>
    <mat-icon *ngIf="isImageLoaded" aria-hidden="false" class="no-image" aria-label="No Image">image_not_supported</mat-icon>
    <mat-progress-bar *ngIf="!isImageLoaded" mode="indeterminate"></mat-progress-bar>
</ng-template>