<nav class="nav__top">
    <a [routerLink]='["/"]' class="nav__logo" >
        <img src="/assets/brt-icon-sm.png"/>
    </a>

    <div *ngIf="menu" class="nav__top-menu" 
        [ngClass]="{ show:showRightNav===true, hide:showRightNav===false}" >
        <h5 *ngIf="menu.header">{{menu.header}}</h5>
        <ul *ngIf="menu.links.length" >
            <li *ngFor="let menuItem of menu.links">
                <span *ngIf="menuItem.callback">
                    <a mat-flat-button (click)="menuItem.callback($event); toggleSideNav()" tooltip="menuItem.tooltip"> {{menuItem.label}} </a>
                </span>
                <span *ngIf="menuItem.url">
                    <a mat-flat-button [routerLink]="[menuItem.url]" (click)="toggleSideNav()" tooltip="menuItem.tooltip"> {{menuItem.label}} </a>
                </span>
            </li>
        </ul>
    </div>

    <button class="nav__top-nav--toggle-btn" 
        *ngIf="menu && menu.links.length"
        (click)="toggleSideNav()" 
        [ngClass]="{ show:showRightNav===true, hide:showRightNav===false}">
        <mat-icon matSuffix aria-label="toggle mobile menu view" >
            {{!showRightNav ? "menu" : "menu_open"}}
        </mat-icon>
    </button>
</nav>