<div [ngSwitch]="currentRoute">
    <div *ngSwitchCase="'starfire'">
        <div class="grid">
            <div class="cell">
                <b>Static</b>
                <app-starfire [showTractor]=true [zoom]=20></app-starfire>
            </div>
            <div class="cell">
                <b>Replay</b>
                <app-starfire playback="replay" [showTractor]=true [zoom]=30></app-starfire>
            </div>
        </div>
    </div>
    <div *ngSwitchDefault>Coming Soon!</div>
</div>
