<div class="header">
    <div class="header__title">
        <h1>
            Vehicles  
        </h1>

    </div>
      <ng-template #topic>
          <div class="header__topic">
            <b>Topic: </b>{{rootPath}}
          </div>
      </ng-template>
</div>
<app-ng-dynamic-breadcrumb
[bgColor]="breadcrumbConfig['bgColor']"
[fontSize]="breadcrumbConfig['fontSize']"
[fontColor]="breadcrumbConfig['fontColor']"
[lastLinkColor]="breadcrumbConfig['lastLinkColor']"
[symbol]="breadcrumbConfig['symbol']"
[ngClass]="{'breadcrumb':true}"
>
</app-ng-dynamic-breadcrumb>
<hr/>
<router-outlet></router-outlet>

