{
  "presets" : [["@babel/preset-env"]],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      },
      "@babel/preset-env"
    ]
  ]
    // "transform-object-rest-spread"
    // , "syntax-async-generators"
  
}