:root{
    --white: #fff;
    --black: #000;
    --blueriver: #003E85;
    --lightgray: #ccc;
    --critical: #e53959;
    --error: #FF7F02; 
    --warning: #eed202;
    --white: #fff;
    --infomation: #ddd;
    --success: #D2E290;
}