img {
    width:100%;
    &.segmented{
        margin-top: calc(-50% + -5px);

    }

    // @media screen and (min-width:730px) {
    //     width:50vw;
    // }
 }

 .segmentation {
    width:100%;

    // @media screen and (min-width:730px) {
    //     width:50vw;
    // }
 }

 .meta {
     overflow: scroll;
     max-height: 300px;
     width:100%;
     padding-bottom:20px;
     text-align:left;
 }

 .modal-footer{
     padding-top: 20px;
 }
