img {
    width:65vw;
    &.segmented{
        margin-top: calc(-50% + -5px);

    }

    @media screen and (min-width:730px) {
        width:75vw;
    }
 }

 .segmentation {
    width:65vw;

    @media screen and (min-width:730px) {
        width:75vw;
    }
 }

 .meta {
     overflow: scroll;
     max-height: 300px;
     width:100%;
     padding-bottom:20px;
     text-align:left;
 }

 .modal-footer{
     padding-top: 20px;
 }
