.mission-stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .stats{
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(50% - 10px);
        height: auto;
        &:last-of-type{
            margin-right: 0px;
        }
    }

    @media screen and (min-width:400px) {
        .stats{
            width: calc(33.3% - 10px);

            &.medium {
                min-width: 175px;
            }
            &.medium-large {
                min-width: 175px;
                width: calc(66.6% - 10px);
            }
            &.large {
                min-width: 300px;
                width: calc(100% - 10px);            }
        }
    }
}