<div class="mission-stats">
        <app-medallion 
            class="stats"
            title="Uptime"
            content="24 hrs"
            >
        </app-medallion>
        <app-medallion 
            class="stats"
            title="Done"
            content="9 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats"
            title="Moving"
            content="7 %"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Telesupport"
            content="3 %"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="# False positive"
            content="4 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Support"
            content="2 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Mission Start"
            content="8 hrs"
            >
        </app-medallion>
</div>