<div class="mission-stats" *ngIf="missionStats; else nostats">
    <app-medallion 
        *ngIf="missionStats.missionStartTime"
        class="stats large"
        title="Mission Start"
        [content]="getMissionStartTime()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Uptime"
        [content]="getUpTime()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Done"
        [content]="getAreaDone()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Moving"
        [content]="getMovingPercentage()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Auto Stop"
        [content]="getAutonomyStopped()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Auto Driving"
        [content]="getAutonomyDriving()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Stops"
        [content]="getStops()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Telesupport Duration"
        [content]="getTeleopDuration()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="Telesupport"
        [content]="getTelesupport()"
        >
        <!-- All 3 time plus & percent of durationTeleop-->
    </app-medallion>
    <app-medallion 
        class="stats"
        title="# False positive"
        [content]="getFalsePositives()"
        >
    </app-medallion>
    <app-medallion 
        class="stats"
        title="# True positive"
        [content]="getTruePositives()"
        >
    </app-medallion>
    <app-medallion 
        class="stats medium-large"
        title="Support"
        [content]="getSupport()"
        >
        <!-- # teleop support per meter / Area travelled  -->
    </app-medallion>
    <mat-paginator 
        [pageIndex]="cursor"
        [length]="pageLength"
        [pageSize]="pageSize"
        [pageSizeOptions] = "pageSizeOptions"
        (page)="onPaginate($event)">
    </mat-paginator>
</div>
<ng-template #nostats>
    <div class="mission-stats" >
        <app-medallion 
            class="stats large"
            title="No stats for vehicle."
            content=""
            >
        </app-medallion>
    </div>
</ng-template>