<div class="header">
    <div class="header__title">
        <h2>
            Overview
        </h2>
        <button
             *ngIf="isVehicleOnline"
            class="live-pulse"
            mat-mini-fab color="warn" 
            aria-label="Section is live">
        </button>
    </div>
</div>
<div class="grid gap col-2">
    <div class="grid__cell">
        <app-vehicle-mission-stats
            [vehicleId]="vehicleId"
        ></app-vehicle-mission-stats>
    </div>
    <div class="grid__cell">
        <div class="grid__cell--label">Status</div>
        <div class="grid__cell--content">
            <app-vehicle-status
            [vehicleId]="vehicleId"
            ></app-vehicle-status>
        </div>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="grid__cell">
        <div class="grid__cell--label">Stop Images</div>
        <div class="grid__cell--content">
            <app-stop-images 
            [vehicleId]="vehicleId"
            [live]=true
            ></app-stop-images>
        </div>
    </div>
    <div class="grid__cell">
        <div class="preview-images" *ngIf="isImagesLoaded; else loader">
            <div class="preview-images__img" 
                *ngFor="let imageInfo of vehicleImages" >
                <div *ngIf="imageInfo">
                    <div class="grid__cell--label">{{imageInfo.topic.name.replace("/left/preview","").replace("/", "").replace("/","").replace("_"," ") | titlecase}}</div>
                    <div class="grid__cell--content">
                            <app-image 
                            *ngIf="imageInfo.header && imageInfo.image; else noimage"
                            [data]="imageInfo.image" 
                            [label]="imageInfo.topic.name" 
                            [headerId]="imageInfo.header.headerId">
                        </app-image>
                        <ng-template #noimage>
                            <mat-icon aria-hidden="false" class="no-image" aria-label="No Image">image_not_supported</mat-icon>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #loader>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </div>
    <!-- <div class="grid__cell grid__cell__full-width">
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <div class="grid__cell--label">Geolocation</div>
        <div class="grid__cell--content">
            <div *ngIf="vehiclesLastCoordinates.length; else emptymap"  class="map" >
                <app-starfire  *ngIf="isVehicleOnline"
                    playback="live" 
                    [showTractor]=true 
                    [zoom]=20
                    [vehicleId]="vehicleId"
                    ></app-starfire>
                <app-starfire  *ngIf="!isVehicleOnline"
                    playback="static" 
                    [showTractor]=true 
                    [zoom]=20
                    [vehicleId]="vehicleId"
                    [coordinates]="vehiclesLastCoordinates"
                    [lastPosition]="true"
                    ></app-starfire>
            </div>
            <ng-template #emptymap >
                <div class="map">
                    <app-starfire  *ngIf="!isVehicleOnline"
                        playback="static" 
                        [showTractor]=true 
                        [zoom]=20
                        [vehicleId]="vehicleId"
                        [lastPosition]="true"
                    ></app-starfire>
                </div>
            </ng-template>
        </div>
    </div> -->
</div>