.grid__cell {

    &:nth-child(odd){
        &:not(.grid__cell__full-width){
            @media screen and (min-width:1024px) {
                border-right: 1px solid var(--lightgray);
            }
        }
    }
    .grid__cell--content {
        .map{
            height: 352px;          
        }
    }


    .preview-images{
        display:flex;
        flex-wrap:wrap;

        .preview-images__img {
            width: 100%;
            padding:10px;
        }


        @media screen and (min-width:570px) {
            .preview-images__img{
                width: 50%;
            }
        }

        @media screen and (min-width:1024px) {
            .preview-images__img{
                width: 33.3%;
            }
        }
    }

    .loader {
        min-height: 150px;
    }
}

.header {
    display: flex;
    align-items: center;
    word-break: break-all;

    .header__title{
        width:100%;

        h2{
         display:inline-block;
        }

        .live-pulse{
            margin-left: 20px;
            animation: pulse 1000ms infinite;
            position: relative;
            top: -5px;
        }
    
        @keyframes pulse {
            0%{
                transform: scale(0);
                box-shadow:0 0 0 1px solid rgba(255,0,0,1);
            }
            100%{
                transform: scale(1);
                box-shadow:1 2 3 20px solid rgba(255,0,0,1);
            }
        }
    }

}

.divider{
    background-color: #777;
    margin: 15px 0;
}

.production{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .stats{
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(50% -10px);
        height: auto;
        &:last-of-type{
            margin-right: 0px;
        }
    }

    @media screen and (min-width:400px) {
        .stats{
            width: 30%;
            &.medium {
                min-width: 175px;
            }
    
            &.large {
                min-width: 200px;
            }
        }
    }
}