<div class="header">
    <div class="header__title">
        <h2>
            Overview
        </h2>
        <button
             *ngIf="isVehicleOnline"
            class="live-pulse"
            mat-mini-fab color="warn" 
            aria-label="Section is live">
        </button>
    </div>
</div>
<div class="grid gap col-2">
    <div class="grid__cell production">
        <app-medallion 
            class="stats"
            title="Uptime"
            content="24 hrs"
            >
        </app-medallion>
        <app-medallion 
            class="stats"
            title="Done"
            content="9 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats"
            title="Moving"
            content="7 %"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Telesupport"
            content="3 %"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="# False positive"
            content="4 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Support"
            content="2 ac"
            >
        </app-medallion>
        <app-medallion 
            class="stats medium"
            title="Mission Start"
            content="8 hrs"
            >
        </app-medallion>
    </div>
    <div class="grid__cell">
        <div class="grid__cell--label">Status</div>
        <div class="grid__cell--content">
            <app-vehicle-status
            [vehicleId]="vehicleId"
            ></app-vehicle-status>
        </div>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <div class="grid__cell--label">Geolocation</div>
        <div class="grid__cell--content">
            <div *ngIf="vehiclesLastCoordinates.length; else emptymap"  class="map" >
                <app-starfire  *ngIf="isVehicleOnline"
                    playback="live" 
                    [showTractor]=true 
                    [zoom]=20
                    [vehicleId]="vehicleId"
                    ></app-starfire>
                <app-starfire  *ngIf="!isVehicleOnline"
                    playback="static" 
                    [showTractor]=true 
                    [zoom]=20
                    [vehicleId]="vehicleId"
                    [coordinates]="vehiclesLastCoordinates"
                    [lastPosition]="true"
                    ></app-starfire>
            </div>
            <ng-template #emptymap >
                <div class="map">
                    <app-starfire  *ngIf="!isVehicleOnline"
                        playback="static" 
                        [showTractor]=true 
                        [zoom]=20
                        [vehicleId]="vehicleId"
                        [lastPosition]="true"
                    ></app-starfire>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="grid__cell grid__cell__full-width">
        <div class="preview-images" *ngIf="isImagesLoaded; else loader">
            <div class="preview-images__img" 
                *ngFor="let imageInfo of vehicleImages" >
                <div *ngIf="imageInfo">
                    <div class="grid__cell--label">{{imageInfo.topic}}</div>
                    <div class="grid__cell--content">
                        <app-image [data]="imageInfo.image" 
                            [label]="imageInfo.topic" 
                            [headerId]="imageInfo.header.headerId">
                        </app-image>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #loader>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
    </div>
</div>