.logging__form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    flex-wrap: wrap;
    padding: 20px;

    .logging__form--field {
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0px;
        }

        .logging__form--radio{
            margin-right: 10px;
        }
    }
}

.datetime{
    width:280px;
}

.mat-table {
    width: 100%;

    .mat-row {
        cursor: pointer;
    }
}

.vehicles__status {
    td{
        padding:5px;
        &.description{
            max-width: 300px;
        }

        &.node{
            padding:5px
        }
        
        &.type{
            min-width: 50px;
        }

    }
    .icon {
        font-size: 1.5rem;
        width:24px;
    }

    .priority_high {
        background-color: var(--critical);
        &:hover{
            background-color: var(--critical-hover);
        }
    }

    .error {
        background-color: var(--error);
        &:hover{
            background-color: var(--error-hover);
        }
    }

    .warning {
        background-color: var(--warning);
        &:hover{
            background-color: var(--warning-hover);
        }
    }

    .logging,
    .information {
        background-color: var(--success);
        &:hover{
            background-color: var(--success-hover);
        }
    }

}