.images {
    // width: 100%;
    .image,
    img {
        // width: 100%;
        height: auto;
        max-width: 512px;
        margin:auto;
        position: absolute;
    }

    .segmentation{
        position:absolute;
        margin:auto;
        margin-left: 20px;
        margin-right: 20px;
        // width: 100%;
    }
}
