.mat-table {
    width: 100%;

    .mat-row {
        cursor: pointer;
    }
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.vehicles__status {
    .icon {
        font-size: 1.5rem;
        width:24px;
    }

    .priority_high {
        background-color: var(--critical);
        &:hover{
            background-color: var(--critical-hover);
        }
    }

    .error {
        background-color: var(--error);
        &:hover{
            background-color: var(--error-hover);
        }
    }

    .warning {
        background-color: var(--warning);
        &:hover{
            background-color: var(--warning-hover);
        }
    }

    .logging,
    .information {
        background-color: var(--success);
        &:hover{
            background-color: var(--success-hover);
        }
    }
}

.vehicle-status__container{
    overflow-y: scroll;
    max-height: calc(350px - 19px);
    margin-bottom: 10px;
}

.download{
    float: right;
    margin-bottom: 5px;
}