<!-- <img 
    [src]="imageUrl" 
    [id]=id [class]="class" 
    [ngStyle]="{maxWidth:width, maxHeight:height}"
    (click)="openDialog()"
    > -->
    <div class="images__render" (click)="openDialog()">
        <img 
            [src]="imageUrl" 
            [id]=id 
            [class]="class" 
        >

        <div class="segmentation"  [ngStyle]="{display: isSegmentationImage ? 'block' : 'none'} ">
            <app-segmentation-image   
                (load)="onSegmentationLoad($event)"  
                [imageHeaderId]="headerId"></app-segmentation-image>
        </div>
        <mat-progress-bar *ngIf="!segmentationLoaded" mode="indeterminate"></mat-progress-bar>
    </div>

