.container__content{
    top: 75px;
    position: absolute;
    width: 100%;

    .nav__side-nav,
    .container__content-main{
        padding: 0 20px;
    }

    .nav__side-nav{
        height: calc(100vh - 75px);
        position: sticky;
        top: 75px;
        border-right: 1px solid #ccc;
        overflow: hidden;
        position: fixed;
        left:-200px;

        a { 
            display:block;
            border-bottom: 1px solid #ccc;
            &:last-of-type {
                border:none;
            }
            &:hover{
                background-color: blue;
                .mat-list-item{
                    color:var(--white);
                }
            }
        }
    }

    // @media screen and (min-width:851px) {
    //     .nav__side-nav{
    //         display:block;
    //         position:relative;
    //         left:0px;
    //     }
    // }
}


@media screen and (min-width:851px) {
    .container__content{
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas: "side-nav main-content";
        grid-gap: 0px;
        top: 75px;
        position: absolute;
        width: 100%;

        .nav__side-nav{
            display:block;
            position:sticky;
            top:75px;
        }
    }
}
